# Exercises: Working with Databases in Python

For the exercises, we will be practicing the steps outlined in this [article](https://towardsdatascience.com/do-you-know-python-has-a-built-in-database-d553989c87bd). You can skip the portion where the author downloads a separate SQL client to examine the database.

## Import Libraries

We will need `pandas` and `sqlite3`. SQLite is a small, self-contained database engine that comes with Python so you will not have to do any additional installations for this lesson. If you want to connect to a different database engine, such as SQL server, you may need additional libraries such as `sqlalchemy` or `pyodbc` and a tool called a driver which helps to connect a database to an application.

In [7]:
# Import sqlite3 and pandas.
import sqlite3 as sl

In [1]:
!pip install pandas

Collecting pandas
  Downloading pandas-1.5.2-cp38-cp38-win_amd64.whl (11.0 MB)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\dance\appdata\roaming\python\python38\site-packages (from pandas) (2.8.2)
Collecting numpy>=1.20.3
  Downloading numpy-1.24.1-cp38-cp38-win_amd64.whl (14.9 MB)
Collecting pytz>=2020.1
  Downloading pytz-2022.7.1-py2.py3-none-any.whl (499 kB)
Requirement already satisfied: six>=1.5 in c:\users\dance\appdata\roaming\python\python38\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Installing collected packages: pytz, numpy, pandas
Successfully installed numpy-1.24.1 pandas-1.5.2 pytz-2022.7.1

WARNING: You are using pip version 21.1.1; however, version 22.3.1 is available.
You should consider upgrading via the 'c:\users\dance\azuredatastudio-python\python.exe -m pip install --upgrade pip' command.

In [2]:
import pandas as pd

## Create a Database

In the article, the author shows how to use `sqlite3` to open a connection to an existing database or create a new one. Use this method to make a new database called `exercises.db`.

In [27]:
# Create a new database called exercises.db.
con = sl.connect('exercises.db')

## Create a Table

Follow the steps in the article to create a table called `favorite_books.db`. This table should include columns for the title, author, and a short description of why it is a favorite.

In [28]:
# Create a new table in your database.
with con:
    con.execute("""
    CREATE TABLE favorite_books (
        title TEXT NOT NULL,
        author TEXT,
        description TEXT
        );
    """)

OperationalError: table favorite_books already exists

## Insert Records

Add 3 entries to your table for your top 3 favorite books.

In [37]:
# Add your 3 favorite books to your table.
sql = 'INSERT INTO favorite_books (title, author, description) values(?, ?, ?)'
data = [
    ('Throne of Glass', 'Sarah J. Maas', 'Interesting characters with great world building'),
    ('Red, White & Royal Blue', 'Casey McQuiston', 'LGBTQ representation and adorable characters'),
    ('Harry Potter and the Prisoner of Azkaban', 'JK Rowling', 'Sirius Black')
]

with con:
    con.executemany(sql, data)

## Query Your Table

Write a `SELECT` query to output the 3 records in your table.

In [38]:
# Write your SELECT query here.
with con:
    data = con.execute("SELECT * FROM favorite_books")
    for row in data:
        print(row)

('Throne of Glass', 'Sarah J. Maas', 'Interesting characters with great world building')
('Red, White & Royal Blue', 'Casey McQuiston', 'LGBTQ representation and adorable characters')
('Harry Potter and the Prisoner of Azkaban', 'JK Rowling', 'Sirius Black')

## Create a New Table with Pandas

Create a new table called `favorite_movies` with your top 3 favorite movies. Each movie should have an id and a title. This time, use Pandas to first make a dataframe and then write the dataframe to SQL. Write a `SELECT` query to confirm that the new table does have your top 3 favorite movies.

In [21]:
# Use Pandas to make a new table in your database.
favorite_movies = pd.DataFrame({
    'id': [1,2,3],
    'title': ['National Treasure', 'Shrek 2', 'Harry Potter and the Prisoner of Azkaban']
})

In [22]:
favorite_movies.to_sql('TITLE', con)

ValueError: Table 'TITLE' already exists.

In [26]:
with con:
    data = con.execute("SELECT * FROM TITLE")
    for row in data:
        print(row)

(0, 1, 'National Treasure')
(1, 2, 'Shrek 2')
(2, 3, 'Harry Potter and the Prisoner of Azkaban')